.env
Labfiles/05-custom-entity-recognition/data/ads/Ad 1.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 2.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 3.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 4.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 5.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 6.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 7.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 8.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 9.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 10.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 11.txt
Labfiles/05-custom-entity-recognition/data/ads/Ad 12.txt
