azure-ai-textanalytics==5.3.0 # This is same for Custom Classification, same for NERs
azure-ai-language-questionanswering # for QnA Solutions
azure-ai-language-conversations # for Conversational Language Understanding Solutions
python-dotenv